<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mding.chatfeng.home">

    <application>
        <activity android:name=".MainActivity"
            />

        <activity
            android:name="com.mding.chatfeng.home.ui.about_mine.about_changeinfo.ChangeInfoActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBack.Transparent.Theme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.mding.chatfeng.home.ui.about_mine.about_changeinfo.MyAccountActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBack.Transparent.Theme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.about_mine.about_setting.about_child_page.about_account_and_safe.ChangeBindNewActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBack.Transparent.Theme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.mding.chatfeng.home.ui.about_contacts.about_search.SearchActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBack.Transparent.Theme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.mding.chatfeng.home.ui.top_total.CreatGroupChatActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBack.Transparent.Theme"
            android:windowSoftInputMode="adjustResize" />
        <!--<activity-->
            <!--android:name="com.mding.chatfeng.home.ui.top_total.ScanActivity"-->
            <!--android:launchMode="singleTop"-->
            <!--android:theme="@style/SwipeBack.Transparent.Theme"-->
            <!--android:windowSoftInputMode="adjustResize" />-->
        <activity
            android:name="com.mding.chatfeng.home.ui.top_total.ClipImgActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBack.Transparent.Theme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.mding.chatfeng.home.ui.about_contacts.about_search.FriendGroupListActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBack.Transparent.Theme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.mding.chatfeng.home.ui.about_contacts.about_search.AddFriendActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBack.Transparent.Theme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.mding.chatfeng.home.ui.about_mine.about_setting.MineSetActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBack.Transparent.Theme"
            android:windowSoftInputMode="adjustResize" />



    </application>

</manifest>