<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mding.chatfeng.chat">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!-- Android唤醒、解锁屏幕 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK " />

    <uses-feature android:name="android.hardware.camera" /> <!-- 使用照相机权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- 自动聚焦权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.PARTIAL_WAKE_LOCK" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- 必选 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 获取网络状态 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 网络通信 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 获取设备信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 获取MAC地址 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 读写sdcard，storage等等 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 允许程序录制音频 -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:icon="@mipmap/demo_a_ic_launcher"
        android:label="@string/demo_a_app_name"
        tools:replace="android:label"
        android:theme="@style/demo_a_AppTheme">
        <activity android:name="debug.DebugActivity">

        </activity>
        <activity android:name=".MainActivity2"
            android:process=":web"></activity>

        <activity
            android:name="com.rance.chatui.about_chat.ChatSetActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBack.Transparent.Theme" />
        <activity
            android:name="com.rance.chatui.about_chat.chat_group.GroupChatDetailsActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBack.Transparent.Theme" />
        <activity
            android:name="com.rance.chatui.about_chat.ChatActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBack.Transparent.Theme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.rance.chatui.about_chat.FullImageActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBack.Transparent.Theme" />
        <activity
            android:name="com.rance.chatui.about_chat.ShowFullImgActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBack.Transparent.Theme" />
        <activity
            android:name="com.rance.chatui.about_chat.chat_group.ChatGroupActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBack.Transparent.Theme" />
        <activity
            android:name="com.rance.chatui.about_chat.chat_group.FriendDataGroupMemberActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBack.Transparent.Theme" />

        <!--群聊详情-->
        <activity
            android:name="com.rance.chatui.about_chat.chat_group.sub_group.AddGroupWayActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBack.Transparent.Theme" />
        <activity
            android:name="com.rance.chatui.about_chat.chat_group.sub_group.EditGroupCardActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBack.Transparent.Theme" />
        <activity
            android:name="com.rance.chatui.about_chat.chat_group.sub_group.GroupChatSetActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBack.Transparent.Theme" />
        <activity
            android:name="com.rance.chatui.about_chat.chat_group.sub_group.GrouperEscActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBack.Transparent.Theme" />
        <activity
            android:name="com.rance.chatui.about_chat.chat_group.sub_group.InvitationGroupChatActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBack.Transparent.Theme" />
        <activity
            android:name="com.rance.chatui.about_chat.chat_group.sub_group.GroupNoticeActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBack.Transparent.Theme" />
        <activity
            android:name="com.rance.chatui.about_chat.chat_group.sub_group.ZhuanRangGroupActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBack.Transparent.Theme" />

    </application>

</manifest>